.n-1-icon {
  width: 452px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  max-width: 100%;
}
.title {
  position: relative;
  font-size: var(--font-size-5xl);
  line-height: 24px;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 67px;
}
.primary {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: #9f24ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-xl);
  white-space: nowrap;
}
.button,
.button1 {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.button1 {
  flex: 1;
  flex-direction: column;
}
.button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 240px;
  height: 47px;
  top: 375px;
  left: 140px;
  flex-shrink: 0;
  flex-direction: row;
  flex-wrap: wrap;
}
.button,
.button2,
.welcome {
  margin: 0 !important;
  position: absolute;
}
.welcome {
  width: 520px;
  height: 92px;
  top: 72px;
  left: 0;
  font-size: 64px;
  line-height: 24px;
  display: inline-block;
  font-style: italic;
  font-weight: 600;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: center;
}
.button2 {
  width: 240px;
  height: 48px;
  top: 486px;
  left: 260px;
  overflow: hidden;
  flex-shrink: 0;
}
.dont-have-an {
  margin: 0;
}
.dont-have-an-container,
.title1 {
  font-size: var(--font-size-5xl);
  line-height: 24px;
  font-weight: 500;
  font-family: var(--font-roboto);
  text-align: left;
  display: inline-block;
}
.dont-have-an-container {
  width: 325px;
  height: 48px;
  position: absolute;
  margin: 0 !important;
  top: 562px;
  left: 75px;
  color: rgba(0, 0, 0, 0.58);
}
.title1 {
  position: relative;
  color: #2cde5e;
  min-width: 83px;
}
.primary1,
.title2 {
  position: absolute;
  margin: 0 !important;
}
.primary1 {
  cursor: pointer;
  border: 0;
  padding: 0 78px;
  top: 562px;
  left: 280px;
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  z-index: 1;
}
.primary1,
.primary1:hover {
  background-color: transparent;
}
.title2 {
  width: 231px;
  top: 12px;
  left: 72.5px;
  font-size: var(--font-size-5xl);
  line-height: 24px;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-white);
  white-space: pre-wrap;
  text-align: left;
  display: inline-block;
}
.google-logo-clipart-transparen-icon {
  width: 45px;
  height: 27px;
  position: absolute;
  margin: 0 !important;
  top: 10px;
  left: 19px;
  object-fit: cover;
  mix-blend-mode: hard-light;
}
.button3,
.primary2 {
  margin: 0 !important;
  position: absolute;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.primary2 {
  cursor: pointer;
  border: 0;
  padding: 10px 48px var(--padding-2xs) 19px;
  background-color: rgba(0, 0, 0, 0.17);
  width: 352px;
  height: 48px;
  top: 0;
  left: 8px;
  border-radius: var(--br-5xs);
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.primary2:hover {
  background-color: rgba(51, 51, 51, 0.17);
}
.button3 {
  width: 367px;
  height: 60px;
  top: 443px;
  left: 96px;
  overflow: hidden;
  flex-shrink: 0;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 7px var(--padding-xs) 8px;
  z-index: 1;
}
.text,
.title3 {
  font-family: var(--font-roboto);
  position: relative;
  line-height: 20px;
  text-align: left;
}
.title3 {
  align-self: stretch;
  font-size: var(--font-size-xl);
  font-weight: 500;
  color: var(--color-black);
}
.text {
  width: 100%;
  border: 0;
  outline: 0;
  font-size: var(--font-size-sm);
  background-color: transparent;
  height: 20px;
  flex: 1;
  color: var(--color-gray-100);
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 250px;
  max-width: 100%;
  padding: 0;
}
.input,
.row,
.textfield {
  display: flex;
  max-width: 100%;
}
.textfield {
  align-self: stretch;
  border-radius: var(--br-7xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-7xs) var(--padding-2xs);
}
.input,
.row {
  align-items: flex-start;
}
.input {
  flex: 1;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  gap: var(--gap-9xs);
}
.row {
  width: 100%;
  margin: 0 !important;
  position: absolute;
  top: 164px;
  left: 0;
  flex-direction: row;
  justify-content: flex-start;
}
.text1,
.title4 {
  font-family: var(--font-roboto);
  position: relative;
  line-height: 20px;
  text-align: left;
}
.title4 {
  align-self: stretch;
  font-size: var(--font-size-xl);
  font-weight: 500;
  color: var(--color-black);
}
.text1 {
  width: 100%;
  border: 0;
  outline: 0;
  font-size: var(--font-size-sm);
  background-color: transparent;
  height: 20px;
  flex: 1;
  color: var(--color-gray-100);
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 250px;
  max-width: 100%;
  padding: 0;
}
.textfield1 {
  align-self: stretch;
  border-radius: var(--br-7xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-7xs) var(--padding-2xs);
  max-width: 100%;
}
.input1 {
  flex: 1;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  gap: var(--gap-9xs);
}
.input1,
.list,
.row1 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.row1 {
  width: 100%;
  margin: 0 !important;
  position: absolute;
  top: 261px;
  left: 0;
  flex-direction: row;
  justify-content: flex-start;
}
.list {
  margin: 0;
  height: 642px;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  padding: 72px 0 32px;
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-21xl);
  min-width: 338px;
}
.form,
.page {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.form {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-172xl) 149px var(--padding-172xl) 170px;
  box-sizing: border-box;
  gap: 149px;
  max-width: 100%;
}
.page {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  flex-direction: column;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .n-1-icon {
    flex: 1;
  }
  .form {
    flex-wrap: wrap;
    gap: 74px;
    padding-left: 85px;
    padding-right: 74px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .welcome {
    font-size: 51px;
    line-height: 19px;
  }
  .form {
    padding-top: var(--padding-105xl);
    padding-bottom: var(--padding-105xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .row,
  .row1 {
    gap: var(--gap-21xl);
  }
  .list {
    min-width: 100%;
  }
  .form {
    gap: 37px;
    padding-left: 42px;
    padding-right: 37px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .welcome {
    font-size: 38px;
    line-height: 14px;
  }
  .dont-have-an-container {
    font-size: 19px;
    line-height: 19px;
  }
  .title3 {
    font-size: var(--font-size-base);
    line-height: 16px;
  }
  .row {
    gap: var(--gap-xl);
  }
  .title4 {
    font-size: var(--font-size-base);
    line-height: 16px;
  }
  .row1 {
    gap: var(--gap-xl);
  }
  .form {
    gap: 19px;
    padding-left: var(--padding-xl);
    padding-top: var(--padding-62xl);
    padding-bottom: var(--padding-62xl);
    box-sizing: border-box;
  }
}