/* Modal Overlay */
.modal-overlay {
    display: none; /* Initially hidden */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    z-index: 1000; /* Make sure it's on top */
}

/* Add Note Modal Styles */
#addNoteModal,
#updateNoteModal {
    background: white;
    border-radius: 8px;
    width: 400px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: fixed; /* Center modals */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the modals */
    z-index: 1001; /* Ensure it is above the overlay */
}

/* Modal Header */
#addNoteModal h2,
#updateNoteModal h2 {
    margin-top: 0;
}

/* Input Fields */
input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

/* Buttons */
button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    opacity: 0.8;
}

#addNoteButton,
#saveUpdateNoteButton {
    background-color: #d23333;
    color: white;
}

#cancelAddNoteButton,
#cancelUpdateNoteButton,
#closeAddNoteModalButton,
#closeUpdateNoteModalButton {
    background-color: #f44336;
    color: white;
}

/* Notes Container Styles */
#notesContainer {
    list-style-type: none;
    padding: 0;
    width: 50%;
    margin: 0 auto;
}

#notesContainer li {
    background: #f9f9f9;
    border: 1px solid #971313;
    border-radius: 8px;
    margin: 10px 0;
    padding: 15px;
    position: relative;
}

/* Note Header and Content */
.note-header {
    margin-bottom: 10px;
}

.note-title {
    font-size: 18px;
    margin: 0;
    font-weight: bold;
    color: #333;
}

.note-content {
    font-size: 16px;
    margin: 0;
    color: #555;
}

/* Update and Delete Buttons */
.update-note-button,
.delete-note-button {
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    margin-right: 10px;
}

.update-note-button {
    background-color: #e74d4d;
    color: white;
}

.delete-note-button {
    background-color: #f44336;
    color: white;
}

/* Modal Close Button */
.modal-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
    cursor: pointer;
    background: transparent;
    border: none;
    color: #aaa;
}

.modal-close-button:hover {
    color: #333;
}

/* Responsive Styles */
@media (max-width: 600px) {
    #addNoteModal,
    #updateNoteModal {
        width: 90%;
    }
}
