.sidebar-right {
    width: 250px;
    background-color: rgba(76, 28, 28, 0.16);
    padding: 20px;
    box-shadow: 0 2px 4px rgba(139, 6, 6, 0.733);
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    backdrop-filter: blur(5px);
    overflow-y: auto;
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.sidebar-list {
    list-style: none;
    padding: 0;
}

.sidebar-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.sidebar-item label {
    flex-grow: 1;
    padding: 0 10px;
}

.sidebar-item label.completed {
    text-decoration: underline;
}

.sidebar-item input[type="checkbox"] {
    margin-right: 10px;
}

.sidebar-item button {
    background: none;
    border: none;
    color: #007bff;
    cursor: pointer;
    margin-left: 10px;
}

.sidebar-item button:hover {
    text-decoration: underline;
}

.edit-btn {
    color: #28a745;
}

.delete-btn {
    color: #dc3545;
}

.sidebar-date, .sidebar-tag {
    font-size: 0.9em;
    color: #888;
}